.mainContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 108px;
  padding: 0 70px;
}

.leftContainer {
  cursor: pointer;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.pageNameCont {
  padding-right: 15px;
  cursor: pointer;
}

.avatarArea {
  display: flex;
  cursor: pointer;
}
